@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Inter var,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji ;
}

/* Home.css */
.menuItem {
  @apply relative;
}

.hover-white:hover {
  @apply text-white;
}

.hover-black:hover {
  @apply text-black;
}


.menuItem::after {
  @apply content-[''] bg-mainColor h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300 text-white;
}

.menuItem:hover::after {
  @apply w-[100%];
}

.activeNavbar {
  @apply text-mainColor px-2 py-1 hover:border-none;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-modal .ant-modal-content {
  padding: 36px 41px !important;
  margin-bottom: 100px;
  top: 20px;
}
.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
  background-color: rgb(0 132 137 / var(--tw-bg-opacity));
  color: white;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-form-item .ant-form-item-label >label {
  font-size: 18px !important;
}
:where(.css-dev-only-do-not-override-1l1oid0).ant-list .ant-list-items {
  display: flex;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-modal .ant-modal-title {
  font-weight: 650 !important;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

:where(.css-dev-only-do-not-override-1l1oid0).ant-layout .ant-layout-sider {
  background-color: #fff !important;

}

.child-row .ant-table-row-expand-icon {
  display: none;
}
@media (min-width: 1550px) {
  
  .hXBptO {
    min-width: 417px !important;
  }
}

:where(.css-dev-only-do-not-override-1l1oid0).ant-rate {
  font-size: 15px !important; /* Adjust the size as needed */
  margin: 0 0 10px 0 !important;
}

:where(.css-dev-only-do-not-override-1l1oid0).ant-tabs {
  width: 100%;
}

.image-gallery-swipe{
  width: fit-content;
    margin: auto;
}


:where(.css-dev-only-do-not-override-1l1oid0).ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title, :where(.css-dev-only-do-not-override-1l1oid0).ant-menu-light>.ant-menu .ant-menu-submenu-selected >.ant-menu-submenu-title{
  color: #0287a8;
}