@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.menuItem {
  @apply relative hover:text-black;
}
.menuItem::after {
  @apply content-[''] bg-mainColor h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
}

.menuItem:hover::after {
  @apply w-[100%];
}

.activeNavbar {
  @apply text-mainColor px-2 py-1 hover:border-none;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-modal .ant-modal-content {
  padding: 36px 41px !important;
  margin-bottom: 100px;
  top: 20px;
}

